/* style.css sheet */
.odd-numbered {
    background-color: rgb(240, 140, 157);
    font-family: Verdana, DejaVu Sans, sans-serif;
}
#number-2 {
    color: #0000ff;
    font-size: 36px;
}
.odd-numbered#number-3 {
    font-size: 24px;
}
#number-4 {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}