/*group-selectors css*/
.click_me,
.no_click {
  font-size: 28px;
  font-family: Helvetica, Times New Roman, sans-serif;
  }
.click_me {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  }
.no_click {
  background-color: rgb(255, 255, 0);
  color: #000000;
  }
