* {
  box-sizing: border-box;
  margin: 16px auto;
  padding: 16px;
  font-size: 16px;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 450px;
  background: #fff;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

button {
  background: white;
  border: 1px solid #eee;
  margin: 0px;
  padding: 8px 32px;
}